/* Establishes the box shape and font style of the resume text */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Changes the background color to a specific image and sets the tone for the all the text that is not specified by a class */
body {
  background-image: url('https://www.worldatlas.com/r/w1200/upload/56/c5/7c/shutterstock-520792630.jpg');
  background-size: cover;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  color: black;
}

/* Turns the link purple after clicking on it to show that it has been visited */
a:visited {
  color: purple;
}

/* Changes the text and spacing of my name */
.name {
  color: #fff;
  font-weight: 800;
  font-size: 21px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: -10px;
}

/* Changes the text and spacing of the Software Developer title */
.dev {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  margin-top: -6px;
  margin-left: 3px;
  margin-bottom: 10px;
}

/* Adjusts the text and spacing of the about title */
.about {
  font-weight: 800;
  font-size: 21px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: -10px;
  color: #0bb5f4;
}

/* Adjusts the text and spacing of the Recent Projects title */
.projects {
  font-weight: 800;
  font-size: 21px;
  text-transform: uppercase;
  margin-bottom: 8px;
  margin-left: 5px;
  color: #0bb5f4;
}

/* Adjusts the text and spacing of the Education title */
.edu {
  font-weight: 800;
  font-size: 21px;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-left: 5px;
  color: #0bb5f4;
}

/* Adjusts the text of all elements in the semi-bold class */
.semi-bold {
  font-weight: 700;
  font-size: 16px;
}

/* Changes my resume into a left to right stack rather than the original top to bottom stack */
.resume {
  width: 800px;
  height: auto;
  display: flex;
  margin: 50px auto;
}

/* Makes the left side of my resume blue and sets the width */
.resume .resume_left {
  width: 280px;
  background: #0bb5f4;
}

/* Reduces excess space between my profile picture and my name */
.resume .resume_left .resume_profile {
  width: 100%;
  height: 280px;
}

/* Makes my profile picture look more even */
.resume .resume_left .resume_profile img {
  width: 100%;
  height: 100%;
}

/* Aligns all of the content on the left side of the resume by pushing it right */
.resume .resume_left .resume_content {
  padding: 0 25px;
}

/* The resume_classes are used to create bottom borders to space out the resume content */
.resume_info {
  padding: 25px 0px 10px;
  border-bottom: 2px solid #0c4fd6;
}

.resume_about {
  padding: 32px 0px 20px;
  border-bottom: 2px solid #0c4fd6;
}

.resume_projects {
  padding: 20px 0px 15px;
  border-bottom: 2px solid #0c4fd6;
}

.resume_education {
  padding: 20px 0px 15px;
  border-bottom: 2px solid #0c4fd6;
}

.resume_skills {
  padding: 16px 0px 0px;
  border-bottom: 0px;
}

.resume_bgc {
  padding: 14px 0px 0px;
  border-bottom: 0px;
}

/* Aligns the contact icons and the contact text */
.resume .resume_left ul li {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

/* Gives character to the elements of the contact icons and makes them visisble */
.resume .resume_left ul li .icon {
  width: 28px;
  height: 30px;
  background: #fff;
  color: #0bb5f4;
  border-radius: 50%;
  margin-right: 5px;
  font-size: 17px;
  position: relative;
}

/* Centers the inside elements of the contact elements icons */
.resume .icon i,
.resume .resume_right ul li i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Turns all the contact text elements on the left side of the resume white (Email, Cell Phone, GitHub, Linkedin) */
.resume .resume_left ul li .data {
  color: #fff;
}

/* Adds a different color to the right side of the resume and gives the content on the right side some better spacing */
.resume .resume_right {
  width: 520px;
  background: #d0d0d0;
  padding: 25px;
}

/* Changes the text of the skills title and and adds space below it */
.skill {
  font-weight: 800;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  padding-left: 40px;
  overflow: hidden;
  margin-bottom: 13px;
}

/* Changes the text and pushes elements in the skills list to the right */
.skills_list {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding-left: 45px;
}

/* Pushes and aligns the Projects and Education sections to the right */
.resume .resume_right .resume_projects ul,
.resume .resume_right .resume_education ul {
  padding-left: 8px;
  overflow: hidden;
}

/* Controls the font properties of the education section */
.resume .resume_right ul li {
  font-size: 16px;
  font-weight: 500;
}

/* Spaces out the P elements under the Recent Projects section so that they are more readable */
.project_info {
  margin-bottom: 8px;
}

/* Spaces out the P elements under the Recent Projects section so that they are more readable */
.project_info p {
  margin-top: 3px;
}

/* Changes the background and spacing of the background changers title */
.bgchange {
  font-weight: 800;
  font-size: 21px;
  text-transform: uppercase;
  color: #0bb5f4;
  margin-bottom: 15px;
}

/* These 3 button classes refer to the background changers and alter their appearances */
button1 {
  background-color: #070795;
  color: #fff;
  padding: 5px;
  margin-left: 10px;
  border-radius: 10px;
  border: 4px solid #2116ee;
  font-size: 16px;
  cursor: pointer;
}

button2 {
  background-color: #0bb5f4;
  color: #fff;
  padding: 5px;
  margin-left: 10px;
  border-radius: 10px;
  border: 4px solid #009cd5;
  font-size: 16px;
  cursor: pointer;
}

button3 {
  background-color: #f0a315;
  color: #fff;
  padding: 5px;
  margin-left: 10px;
  border-radius: 10px;
  border: 4px solid #da9311;
  font-size: 16px;
  cursor: pointer;
}
